@{
    ViewBag.Title = "Home Page";
}

<header>
    <h1>@ViewBag.Message</h1>
</header>

<p>
    Em 2012, a <b><a href="http://www.ivia.com.br" target="_blank">IVIA</a></b> estará com a arquitetura .NET redefinida e 
    este projeto é parte do processo para atingir este objetivo. 
    <br />
    O foco específico deste projeto é apresentar uma <b>arquitetura OO em JavaScript</b> para uma melhor manutenção e qualidade do código.
</p>

<p>
    Serão apresentadas 2 partes:
</p>

<ol>
    <li>
        Uso do plugin <a href="http://jquery.com/" target="_blank">jQuery</a> <a href="http://www.datatables.net" target="_blank">DataTables</a> 
        para tabelas (sem <a href="http://api.jquery.com/jQuery.ajax/" target="_blank">AJAX</a>, sem <a href="http://www.json.org/" target="_blank">JSON</a>).
    </li>
    <li>
        CRUD de usuário em RIA utilizando Orientação a Objetos com JavaScript 
        (<a href="https://developer.mozilla.org/en/Introduction_to_Object-Oriented_JavaScript" target="_blank">aqui</a>, 
        <a href="http://www.milfont.org/tech/javascript/" target="_blank">aqui</a> e muito
        <a href="http://www.amazon.com/Professional-JavaScript-Developers-Wrox-Programmer/dp/047022780X/ref=sr_1_1?ie=UTF8&qid=1324386335&sr=8-1" target="_blank">aqui</a>) 
        e plugins jQuery. 
        <br />
        Utilização de AJAX e JSON à vontade.
    </li>
</ol>

<p>
    Esta arquitetura é fruto de muita pesquisa, consultoria, participação em palestras e prática na programação com JavaScript.
    <br />
    Alguns livros e artigos que li e que gostaria de indicar para quem quiser se aprofundar:
</p>

<ol>
    <li><a href="http://books.google.com.br/books?id=KW9G9rdlStIC&printsec=frontcover&dq=javascript+for+web+developers&hl=pt-BR&sa=X&ei=FovwTtyuMsXg0QHTucSOAg&ved=0CDwQ6AEwAA#v=onepage&q&f=false" target="_blank">JavaScript for Web Developers - 2nd Edition</a></li>
    <li><a href="http://books.google.com.br/books?id=PXa2bby0oQ0C&printsec=frontcover&dq=javascript+the+good+parts&hl=pt-BR&sa=X&ei=Z4vwTuzEDoLb0QG18uiJAg&ved=0CDAQ6AEwAA#v=onepage&q&f=false" target="_blank">JavaScript: The Good Parts</a></li>
    <li><a href="http://www.addyosmani.com/resources/essentialjsdesignpatterns/book/" target="_blank">Essential Javascript & jQuery Design Patterns for Beginners</a></li>
    <li><a href="http://www.milfont.org/tech/javascript/" target="_blank">Blog do Milfont</a></li>
</ol>

<p>
    Pra finalizar, como este projeto estará no ar, aproveito o espaço para agradecer ao 
    <br />
    <b>Abraão Alves</b> (<a href="http://twitter.com/abrahamalves" target="_blank">@@AbrahamAlves</a>) pela consultoria, 
    <br />
    <b>Alberto Monteiro</b> (<a href="http://twitter.com/AIbertoMonteiro" target="_blank">@@AIbertoMonteiro</a>) pela palestra na COMTEC,
    <br />
    <b>Milfont</b> (<a href="http://twitter.com/cmilfont" target="_blank">@@cmilfont</a>) por ser o cara do JavaScript aqui no Ceará e
    <br />
    <b>Addy Osmani</b> (<a href="http://twitter.com/addyosmani" target="_blank">@@addyosmani</a>) por compartilhar um conhecimento MONSTRO com a comunidade.
</p>