/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    /*background-color: #5c87b2;*/
    background-color: White;
    font-size: .85em;
    font-family: "Open Sans", "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link 
{
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    color: #034af3;
    background-color: #F0F0F0;
    border: 1px solid #BBB;
    border-radius: 3px;
}

a:visited {
    color: #505abc;
    border: 1px solid #DDD;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
    border: 1px solid #999;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 
{
    font-family: Raleway;/*Open Sans;*/
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

header, #header 
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

.page > header
{
    margin: 40px 0 20px 0;
    padding: 20px 15px;
    height: 38px;
    
    line-height: 1em;
    border: 1px solid black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1)));
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}

section > header h1
{
    font-size: 24px !important;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    /*color: #fff;*/
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    /*text-shadow: 1px 1px 2px #111;*/
}

#main {
    /*padding: 30px 30px 15px 30px;*/
    padding: 20px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

#main > header
{
    margin-bottom: 20px;
}

#main > header h1
{
    font-size: 38px !important;
    margin-top: -20px;
}

footer, 
#footer 
{
    font-size: 16px !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#CCC));
    border: 1px solid gray;
    background-color: #fff;
    color: dimGray;
    padding: 15px 0;
    text-align: center;
    line-height: normal;
    margin: 30px 0;
    font-size: .9em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 10px gray;
    -webkit-box-shadow: 2px 2px 10px gray;
    -moz-box-shadow: 2px 2px 10px gray;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    /*border-bottom: 1px #5C87B2 solid;*/
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a 
{
    display: inline;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: transparent;
    color: gainsboro;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

ul#menu li a:hover {
    color: Gray;
    text-decoration: none;
    background-color: #cccccc;/*#606C88;*/
    border: 0;
}

ul#menu li a:active {
    /*background-color: #a6e2a6;*/
    text-decoration: none;#main
    
}

ul#menu li.selected a {
    /*background-color: #fff;*/
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] 
{
    margin-top: 5px;
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    color: dimGray;
    width: 200px;
}

select 
{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;    
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table 
{
    width: 100%;
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    /*margin-top: 40px;*/
}

.page header nav
{
    float: right;
}

.page > header h1
{
    padding: 0;
    /*color: gainsboro;*/
    line-height: 1em;
    font-size: 42px !important;
}

.page > header h1 a
{
    text-decoration: none;
    color: gainsboro;
    border: 0;
    background-color: transparent;
}

div#title {
    display: block;
    float: left;
    margin: -2px 5px;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


/* CAMPOS */

.campo
{
    float: left;
    margin: 0 30px 12px 0;
}

/* BOTÕES */

.botoes
{
    padding-top: 12px;
    border-top: 1px solid #EEE;
    margin-top: 30px;
}