/* UsuarioJS ========================================== */

/* NAV - Sections */

nav#crudSections
{
    margin-bottom: 10px;
    height: 53px;
    font-size: 36px;
}

nav#crudSections a
{
    float: left;
    display: block;
    margin-right: 5px;
    padding: 2px 15px;
    /*background-color: #F0F0F0;*/
    border: 1px solid #BBB;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

nav#crudSections a:hover
{
    color: Black;
    cursor: pointer;
    border: 1px solid gray;
    /*background-color: gainsboro;*/
}

nav#crudSections a:selected
{
    background-color: red;
}


/* CRUD */

#crud
{
    margin-top: 0;
    padding: 10px;
    /*background-color: #F0F0F0;*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#CCC));*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#eeeeee), color-stop(100%,#d8d8d8));
    border: 1px solid gainsboro;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

form select
{
    min-width: 110px;
}

/* TABs */

.tab-ativa
{
    background-color: gainsboro !important; 
}

/* DIALOG */

.ui-dialog-content p
{
    text-align: center;
    margin: 20px auto 14px auto;
}